Repository fleekxyz/non-fungible-apps, pull requests merged in 2023-03, with the labels that each got.

#149 refactor: remove mint collection owner requirement
  contracts/contracts/FleekERC721.sol
  contracts/test/foundry/FleekERC721/AccessControl.t.sol
  contracts/test/hardhat/contracts/FleekERC721/minting.t.ts
Labels: contract

#144 feat: updating subgraph following the ACL refactor
  subgraph/schema.graphql
  subgraph/src/fleek-nfa.ts
  subgraph/subgraph.yaml
Labels: enhancement, backend

#148 feat: add verifier role
  contracts/contracts/FleekAccessControl.sol
  contracts/contracts/FleekERC721.sol
  contracts/test/foundry/FleekERC721/AccessControl.t.sol
  contracts/test/foundry/FleekERC721/AccessPoints/AccessPointsAutoApprovalOff.t.sol
  contracts/test/foundry/FleekERC721/AccessPoints/AccessPointsAutoApprovalOn.t.sol
  contracts/test/hardhat/contracts/FleekERC721/access-point/access-points-autoapproval-off.t.ts
  contracts/test/hardhat/contracts/FleekERC721/collection-roles.t.ts
  contracts/test/hardhat/contracts/FleekERC721/helpers/constants.ts
Labels: enhancement, contract

#153 chore: add / update workflows to do folder filtering
  .github/workflows/contract.yml
  .github/workflows/test.yml
  .github/workflows/ui.yml
Labels: enhancement, test environment

#165 chore: UI polyfills for build command
  ui/package.json
  ui/src/app.tsx
  ui/vite.config.ts
  ui/yarn.lock
Labels: frontend

#150 test: subgraph matchstick tests for access points and acl refactor
  subgraph/.gitignore
  subgraph/examples/query/.gitignore
  subgraph/src/fleek-nfa.ts
  subgraph/subgraph.yaml
  subgraph/tests/matchstick/.latest.json
  subgraph/tests/matchstick/access-control/CollectionRoleChanged.test.ts
  subgraph/tests/matchstick/access-control/TokenRoleChanged.test.ts
  subgraph/tests/matchstick/access-points/changeAccessPointCreationStatus.test.ts
  subgraph/tests/matchstick/access-points/changeAccessPointNameVerify.test.ts
  subgraph/tests/matchstick/access-points/newAccessPoint.test.ts
  subgraph/tests/matchstick/helpers/utils.ts
  subgraph/tests/matchstick/owner.test.ts
  subgraph/tests/matchstick/transfer.test.ts
Labels: enhancement, backend

#151 feat: erc interface and split out access points to single module
  contracts/contracts/FleekAccessPoints.sol
  contracts/contracts/FleekERC721.sol
  contracts/contracts/IERCX.sol
  contracts/contracts/util/FleekSVG.sol
  contracts/contracts/util/FleekStrings.sol
  contracts/scripts/mint.js
  contracts/test/hardhat/contracts/FleekERC721/billing.t.ts
  contracts/test/hardhat/contracts/FleekERC721/collection-roles.t.ts
  contracts/test/hardhat/contracts/FleekERC721/get-last-token-id.t.ts
  contracts/test/hardhat/contracts/FleekERC721/helpers/fixture.ts
  contracts/test/hardhat/contracts/FleekERC721/helpers/index.ts
  contracts/test/hardhat/contracts/FleekERC721/helpers/overloaded-functions.ts
  contracts/test/hardhat/contracts/FleekERC721/minting.t.ts
  contracts/test/hardhat/contracts/FleekERC721/pausable.t.ts
  subgraph/src/fleek-nfa.ts
  subgraph/tests/matchstick/.latest.json
  subgraph/tests/matchstick/access-control/CollectionRoleChanged.test.ts
  subgraph/tests/matchstick/access-control/TokenRoleChanged.test.ts
  subgraph/tests/matchstick/access-points/changeAccessPointCreationStatus.test.ts
  subgraph/tests/matchstick/access-points/changeAccessPointNameVerify.test.ts
  subgraph/tests/matchstick/access-points/newAccessPoint.test.ts
  subgraph/tests/matchstick/helpers/utils.ts
  subgraph/tests/matchstick/owner.test.ts
  subgraph/tests/matchstick/transfer.test.ts
Labels: enhancement, contract

#161 chore: separate handlers by event type [subgraph]
  subgraph/src/access-control.ts
  subgraph/src/access-point.ts
  subgraph/src/approval.ts
  subgraph/src/contract.ts
  subgraph/src/fleek-nfa.ts
  subgraph/src/metadata-update.ts
  subgraph/src/mint.ts
  subgraph/src/transfer.ts
Labels: enhancement, backend

#162 feat: add handler for burns to the transfer handler [subgraph]
  subgraph/src/fleek-nfa.ts
  subgraph/src/transfer.ts
Labels: enhancement, backend

#164 feat: contract when minting can set verifier
  contracts/contracts/FleekERC721.sol
  contracts/contracts/IERCX.sol
  contracts/scripts/mint.js
  contracts/test/foundry/FleekERC721/AccessControl.t.sol
  contracts/test/foundry/FleekERC721/AccessPoints/AccessPointsAutoApprovalOff.t.sol
  contracts/test/foundry/FleekERC721/AccessPoints/AccessPointsAutoApprovalOn.t.sol
  contracts/test/foundry/FleekERC721/AccessPoints/ApBase.sol
  contracts/test/foundry/FleekERC721/Billing.t.sol
  contracts/test/foundry/FleekERC721/Mint.t.sol
  contracts/test/foundry/FleekERC721/TestBase.sol
  contracts/test/hardhat/contracts/FleekERC721/billing.t.ts
  contracts/test/hardhat/contracts/FleekERC721/collection-roles.t.ts
  contracts/test/hardhat/contracts/FleekERC721/get-last-token-id.t.ts
  contracts/test/hardhat/contracts/FleekERC721/helpers/fixture.ts
  contracts/test/hardhat/contracts/FleekERC721/helpers/index.ts
  contracts/test/hardhat/contracts/FleekERC721/helpers/overloaded-functions.ts
  contracts/test/hardhat/contracts/FleekERC721/minting.t.ts
  contracts/test/hardhat/contracts/FleekERC721/pausable.t.ts
Labels: enhancement, contract

#181 chore: deploy to sepolia & update files.
  contracts/.env.example
  contracts/deployments/sepolia/FleekERC721.json
  contracts/deployments/sepolia/FleekSVG.json
  contracts/deployments/sepolia/proxy.json
  contracts/deployments/sepolia/solcInputs/9953f9ba3b3c3ea88082e5a0f127d034.json
  contracts/hardhat.config.ts
Labels: deployment, refactor

#184 feat: contracts add verified field and allow verifier
  contracts/contracts/FleekERC721.sol
  contracts/contracts/util/FleekStrings.sol
  contracts/test/foundry/FleekERC721/AccessControl.t.sol
  contracts/test/foundry/FleekERC721/AccessPoints/ApBase.sol
  contracts/test/foundry/FleekERC721/Constants.sol
  contracts/test/foundry/FleekERC721/TestBase.sol
  contracts/test/foundry/FleekERC721/TokenURI.t.sol
  contracts/test/foundry/FleekERC721/Verified.t.sol
  contracts/test/hardhat/contracts/FleekERC721/helpers/errors.ts
  contracts/test/hardhat/contracts/FleekERC721/token-uri.t.ts
  contracts/test/hardhat/contracts/FleekERC721/verified.t.ts
Labels: enhancement, contract
