Repository fleekxyz/non-fungible-apps, pull requests merged in 2023-02, with the labels that each got.

#99 feat: add controller entity and handlers.
  subgraph/schema.graphql
  subgraph/src/fleek-nfa.ts
  subgraph/subgraph.yaml
Labels: enhancement

#100 feat: replace Holder entity with Owner and handle transfer and mint
  subgraph/schema.graphql
  subgraph/src/fleek-nfa.ts
  subgraph/subgraph.yaml
Labels: enhancement

#90 chore: dropdown component
  ui/package.json
  ui/src/components/core/combobox/combobox.tsx
  ui/src/components/core/combobox/dropdown.tsx
  ui/src/components/core/combobox/index.ts
  ui/src/components/core/icon/icon-library.tsx
  ui/src/components/core/index.ts
  ui/src/theme/foundations/spacing.ts
  ui/src/theme/utils.ts
  ui/tailwind.config.js
  ui/yarn.lock
Labels: frontend

#102 test: improve foundry test with best practices
  contracts/package.json
  contracts/test/foundry/FleekERC721/AccessControl.t.sol
  contracts/test/foundry/FleekERC721/AccessPoints.t.sol
  contracts/test/foundry/FleekERC721/Burn.t.sol
  contracts/test/foundry/FleekERC721/Constants.sol
  contracts/test/foundry/FleekERC721/Deploy.t.sol
  contracts/test/foundry/FleekERC721/Mint.t.sol
  contracts/test/foundry/FleekERC721/TestBase.sol
  contracts/test/foundry/FleekERC721/TokenURI.t.sol
  contracts/test/foundry/apps.t.sol
Labels: test environment, contract

#103 chore: refactor hardhat tests
  contracts/test/FleekERC721.ts
  contracts/test/hardhat/contracts/FleekERC721/access-points.t.ts
  contracts/test/hardhat/contracts/FleekERC721/collection-roles.t.ts
  contracts/test/hardhat/contracts/FleekERC721/deployment.t.ts
  contracts/test/hardhat/contracts/FleekERC721/helpers/constants.ts
  contracts/test/hardhat/contracts/FleekERC721/helpers/fixture.ts
  contracts/test/hardhat/contracts/FleekERC721/helpers/index.ts
  contracts/test/hardhat/contracts/FleekERC721/helpers/utils.ts
  contracts/test/hardhat/contracts/FleekERC721/minting.t.ts
  contracts/test/hardhat/contracts/FleekERC721/token-roles.t.ts
  contracts/test/hardhat/contracts/FleekERC721/token-uri.t.ts
  contracts/test/hardhat/contracts/FleekERC721/update-properties.t.ts
  contracts/test/hardhat/scripts/proxy-store.ts
Labels: test environment, contract

#117 test: init subgraph unit tests
  contracts/contracts/FleekERC721.sol
  subgraph/schema.graphql
  subgraph/src/fleek-nfa.ts
  subgraph/subgraph.yaml
  subgraph/tests/.latest.json
  subgraph/tests/fleek-nfa.test.ts
  subgraph/tests/utils.ts
  subgraph/yarn.lock
Labels: enhancement, test environment, contract

#120 feat: new GH action for the subgraph
  .github/workflows/subgraph.yml
  .github/workflows/test.yml
Labels: enhancement

#122 feat: collection and collectionOwner entities
  subgraph/schema.graphql
  subgraph/src/fleek-nfa.ts
  subgraph/subgraph.yaml
Labels: enhancement

#119 feat: expose a function that returns all non-nested values of an App
  contracts/contracts/FleekERC721.sol
  contracts/test/foundry/FleekERC721/AccessPoints.t.sol
  contracts/test/foundry/FleekERC721/GetToken.t.sol
  contracts/test/hardhat/contracts/FleekERC721/access-points.t.ts
  contracts/test/hardhat/contracts/FleekERC721/get-token.t.ts
Labels: enhancement, contract

#111 refactor: make a single event for token metadata changes
  .github/workflows/subgraph.yml
  contracts/contracts/FleekERC721.sol
  contracts/test/foundry/FleekERC721/TokenURI.t.sol
  contracts/test/hardhat/contracts/FleekERC721/helpers/events.ts
  contracts/test/hardhat/contracts/FleekERC721/helpers/index.ts
  contracts/test/hardhat/contracts/FleekERC721/update-properties.t.ts
Labels: enhancement, contract

#124 feature: expose last token id function in the contract
  contracts/contracts/FleekERC721.sol
  contracts/test/foundry/FleekERC721/GetLastTokenId.t.sol
  contracts/test/hardhat/contracts/FleekERC721/get-last-token-id.t.ts
  contracts/test/hardhat/contracts/FleekERC721/helpers/errors.ts
  contracts/test/hardhat/contracts/FleekERC721/helpers/index.ts
Labels: enhancement, contract

#128 test: add fuzz testing
  contracts/test/foundry/FleekERC721/Burn.t.sol
  contracts/test/foundry/FleekERC721/Deploy.t.sol
  contracts/test/foundry/FleekERC721/GetToken.t.sol
  contracts/test/foundry/FleekERC721/Mint.t.sol
  contracts/test/foundry/FleekERC721/TokenURI.t.sol
Labels: test environment

#110 feature: make main contract pausable
  contracts/contracts/FleekAccessControl.sol
  contracts/contracts/FleekERC721.sol
  contracts/contracts/FleekPausable.sol
  contracts/test/foundry/FleekERC721/AccessControl.t.sol
  contracts/test/foundry/FleekERC721/Pausable.t.sol
  contracts/test/hardhat/contracts/FleekERC721/helpers/errors.ts
  contracts/test/hardhat/contracts/FleekERC721/helpers/fixture.ts
  contracts/test/hardhat/contracts/FleekERC721/pausable.t.ts
Labels: enhancement, contract

#114 refactor: clean up acl remove our redundant owner
  contracts/contracts/FleekAccessControl.sol
  contracts/contracts/FleekERC721.sol
  contracts/test/foundry/FleekERC721/AccessControl.t.sol
  contracts/test/foundry/FleekERC721/AccessPoints.t.sol
  contracts/test/foundry/FleekERC721/Burn.t.sol
  contracts/test/foundry/FleekERC721/Deploy.t.sol
  contracts/test/foundry/FleekERC721/Pausable.t.sol
  contracts/test/foundry/FleekERC721/TestBase.sol
  contracts/test/hardhat/contracts/FleekERC721/collection-roles.t.ts
  contracts/test/hardhat/contracts/FleekERC721/helpers/constants.ts
  contracts/test/hardhat/contracts/FleekERC721/helpers/errors.ts
  contracts/test/hardhat/contracts/FleekERC721/minting.t.ts
  contracts/test/hardhat/contracts/FleekERC721/pausable.t.ts
  contracts/test/hardhat/contracts/FleekERC721/token-roles.t.ts
Labels: enhancement, test environment, contract

#121 feat: access point auto approval settings for tokens + tests
  contracts/contracts/FleekERC721.sol
  contracts/contracts/util/FleekStrings.sol
  contracts/test/foundry/FleekERC721/AccessPoints/AccessPointsAutoApprovalOff.t.sol
  contracts/test/foundry/FleekERC721/AccessPoints/AccessPointsAutoApprovalOn.t.sol
  contracts/test/foundry/FleekERC721/AccessPoints/ApBase.sol
  contracts/test/foundry/FleekERC721/Mint.t.sol
  contracts/test/foundry/FleekERC721/TestBase.sol
  contracts/test/foundry/FleekERC721/TokenURI.t.sol
  contracts/test/hardhat/contracts/FleekERC721/access-point/access-points-autoapproval-off.t.ts
  contracts/test/hardhat/contracts/FleekERC721/access-point/access-points-autoapproval-on.t.ts
  contracts/test/hardhat/contracts/FleekERC721/get-last-token-id.t.ts
  contracts/test/hardhat/contracts/FleekERC721/helpers/constants.ts
  contracts/test/hardhat/contracts/FleekERC721/helpers/fixture.ts
  contracts/test/hardhat/contracts/FleekERC721/minting.t.ts
  contracts/test/hardhat/contracts/FleekERC721/pausable.t.ts
  contracts/test/hardhat/contracts/FleekERC721/token-uri.t.ts
Labels: enhancement, test environment, contract

#131 feat: subgraph reverse lookup (gitRepo -> NFA)
  .github/workflows/subgraph.yml
  contracts/.openzeppelin/polygon-mumbai.json
  contracts/contracts/FleekERC721.sol
  contracts/deployments/mumbai/FleekERC721.json
  contracts/deployments/mumbai/FleekSVG.json
  contracts/deployments/mumbai/proxy.json
  contracts/deployments/mumbai/solcInputs/47f83f60618c4de4172d73cd36e74cbb.json
  contracts/scripts/verify-polyscan.js
  contracts/test/foundry/FleekERC721/Mint.t.sol
  contracts/test/hardhat/contracts/FleekERC721/helpers/constants.ts
  subgraph/schema.graphql
  subgraph/src/fleek-nfa.ts
  subgraph/subgraph.yaml
Labels: enhancement, contract, backend

#135 feat: metadata update and token changes on subgraph
  contracts/contracts/FleekERC721.sol
  contracts/test/foundry/FleekERC721/AccessPoints/AccessPointsAutoApprovalOff.t.sol
  contracts/test/foundry/FleekERC721/AccessPoints/AccessPointsAutoApprovalOn.t.sol
  contracts/test/hardhat/contracts/FleekERC721/access-point/access-points-autoapproval-off.t.ts
  contracts/test/hardhat/contracts/FleekERC721/helpers/constants.ts
  subgraph/schema.graphql
  subgraph/src/fleek-nfa.ts
  subgraph/subgraph.yaml
Labels: enhancement, test environment, contract, backend

#137 chore: remove counters library from the contract code.
  contracts/contracts/FleekAccessControl.sol
  contracts/contracts/FleekERC721.sol
Labels: enhancement, contract, backend

#141 feat: access point integration with the subgraph
  contracts/.openzeppelin/polygon-mumbai.json
  contracts/contracts/FleekERC721.sol
  contracts/deployments/mumbai/FleekERC721.json
  contracts/deployments/mumbai/FleekSVG.json
  contracts/deployments/mumbai/proxy.json
  contracts/deployments/mumbai/solcInputs/5446c77097c1eefd9b8fa506e19f10f6.json
  contracts/test/hardhat/contracts/FleekERC721/access-point/access-points-autoapproval-on.t.ts
  subgraph/schema.graphql
  subgraph/src/fleek-nfa.ts
  subgraph/subgraph.yaml
Labels: enhancement, contract, backend
